body.depthbook {
  margin: 0;
  padding: 0;
  background: #e9e9e9;
}

.chart {
  background: #fff;
  border: 1px solid #d3d3d3;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: 3px;
}

.chart-area--asks { fill: rgba(158, 158, 158, 0.5) }
.chart-area--bids { fill: rgba(37, 155, 36, 0.5) }

.chart-line {
  fill: none;
  stroke-width: 3px;
}

.chart-line--asks { stroke: rgb(158, 158, 158) }
.chart-line--bids { stroke: rgb(37, 155, 36) }
